/* Reset some default styles */
body,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    margin-right: 10px;
}

.toggle-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    padding: 0;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-menu a:hover {
    color: #00bcd4;
}